$palette-name: 'SpiritedAway';
$palette-color1: #d2d2cb;
$palette-color2: #4d695d;
$palette-color3: #83a79d;
$palette-color4: #dae8e5;
$palette-color5: #30b0e0;
$palette-color6: #a1cde5;
$palette-color7: #bfdeee;
$palette-color8: #bc252d;